/*
Fonts
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


:root {
    --dark-shadow: 0 5px 15px rgba(3, 0, 0, 0.2);
    --font: "Roboto", sans-serif;
}
body {
    background-color: #ffe227;
    font-family: var(--font);
    align-items: center;
}

/*
nav bar
 */
nav {
    height: 50px;
    width: 500px;
    display: grid;
    margin: auto;
    align-items: center;
}

.nav-bar {
    background: #eb596e;
    border-radius: 20px;
    box-shadow: var(--dark-shadow);
    text-align: center;
    vertical-align: middle;
 }

/*
modal
 */
.info-modal {
    background-color: #f8647b;
    border-radius: 10px;
    position: fixed;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 28%;
 }


