/*
Fonts
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


:root {
    --dark-shadow: 0 5px 15px rgba(3, 0, 0, 0.2);
    --font: "Roboto", sans-serif;
}
body {
    background-color: #ffe227;
    font-family: var(--font);
    align-items: center;
}
/*
creates darkness when overlay message pops up
*/

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#overlay_text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    font-family: var(--font);
    color: black;
    background: #ffe227;
    border-radius: 25px;
    border: 5px solid black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
/*
nav bar
 */
.nav-container {
    display: flex;
    width: 100%;
    /*align-items: center;*/
    /*justify-content: center;*/
    flex-direction: row;
}

.nav-bar {
    border-radius: 25px;
    border: 5px solid black;
    size: 20px;
    font-size: large;
    width: 350px;
    box-shadow: var(--dark-shadow);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.nav-bar:hover {
    background: black;
    color: #ffe227;
    transition: ease-in-out 0.2s;
    transform: scale(1.1);
}

.main_container {
    display: flex;
    margin-top: 4%;
}
.code_container {
    /*background: orangered;*/
    height: 600px;
    display: flex;
    flex-direction: column;
}
.graph_container {
    background-color: #ffe227; /* Green */
    border-radius: 25px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
}
.graph_container div {

}
#box_up {
    display: flex;
    flex-direction: row;
}
#box_bottom {
    display: flex;
    flex-direction: row;
}
.class_box {
    background-color: #ffe227; /* Green */
    border-radius: 25px;
    border: 5px solid black;
    margin: 5% 10%;
}
.class_box h1 {
    /*margin-bottom: 80%;*/
}
.code_btn {
    height: 15px;
    width: 70%;
    border-radius: 25px;
    border: 5px solid black;
    /*background: steelblue;*/
    margin-top: 20px;
    margin-left: 18%;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    font-size: 5em;
}
.code_btn:hover {
    background: black;
    color: #ffe227;
    transform: scale(1.2);
}
.main_container div {
    /*font-size: 5vw;*/
    padding: 20px;
    flex: 1;
}

.code-input {
    display: none;
    position: absolute;
    left: 32%;
    bottom: 30%;
    height: 500px;
    width: 700px;
    background: #ffe227;
    border-radius: 25px;
    border: 5px solid black;
    z-index: 2;
}

.code_area {
    margin-left: 2.5%;
}
h2 {
    margin-left: 30%;
}
.button_area {
    display: flex;
    margin-left: 30%;
}
button {
    background-color: black; /* Green */
    border-radius: 10px;
    color: #ffe227;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

/*
dropbox
*/

.dropdown {
    width: 40%;
}


.dropbtn {
    /*position: absolute;*/
    margin-left: 55%;
    background: #ffe227;
    border-radius: 20px;
    border: 5px solid black;
    color: black;
    padding: 16px;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: black;
    color: #ffe227;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 53.5%;
    background: #ffe227;
    border-radius: 20px;
    border: 5px solid black;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: black;
    color: #ffe227;
}

.show {display:block;}

.my-anchor {
    cursor: pointer;
}

.generatebtn {
    background: #ffe227;
    border-radius: 20px;
    border: 5px solid black;
    color: black;
    padding: 16px;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
}

.generatebtn:hover {
    background-color: black;
    color: #ffe227;
}

.arrow {
    position: absolute;
    border: solid black;
    border-width: 0 10px 10px 0;
    display: none;
    padding: 20px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#a1 {
    margin-left: 59%;
    margin-top: 20.5%;
}
#a2 {
    margin-left: 65%;
    margin-top: 20%;
}
#a1-2 {
    margin-left: 82%;
    margin-top: 20.5%;
}
#a2-2 {
    margin-left: 88%;
    margin-top: 20%;
}

#a3 {
    margin-left: 73.5%;
    margin-top: 10%;
}
#a4 {
    margin-left: 73.5%;
    margin-top: 14%;
}
#a3-2 {
    margin-left: 73.5%;
    margin-top: 25%;
}
#a4-2 {
    margin-left: 73.5%;
    margin-top: 29%;
}

/*.arrow #a2{*/
/*    animation: blinker 1s linear infinite;*/
/*}*/

@keyframes blinker {
    100% {
        opacity: 10%;
    }
}

.top-container {
    display: flex;
    flex-direction: column;
}
.footer-main {
    margin-top: 1%;
}
.footer {
    display: inline-block;
    text-align: right;
    font-family: var(--font);
    font-size: 20px;
    font-weight: 800;
    margin-top: 2%;
    /*height: 5%;*/
    width: 84%;
}
.logo {
    border-radius: 25px;
    border: 5px solid black;

    display: inline-block;
    text-align: right;
    font-family: var(--font);
    font-size: 5em;
    margin-left: 8%;
    font-weight: 900;
    cursor: pointer;
}

.logo:hover {
    background: black;
    color: #ffe227;
    transition: ease-in-out 0.2s;
    transform: scale(1.2);
}
